.button {
    @include row;
    width: 50%;
    margin: 10% 0;
    padding: 4% 0;
    border-radius: 10% / 50%;
    font-size: 85%;
    color: #FFF;
    background: linear-gradient(to left top, $colour-primary, $colour-secondary);
    border-width: 0;
    box-shadow: $box-shadow-sizing $background-shadow-darker;
    @include desktop {
        font-size: 130%;
    }
    &--accueil {
        margin: 0;
        padding: 4% 0;
        @include desktop {
            font-size: 100%;
        }
    }
}