.course {
    @include row ($justify: flex-end);
    width: 93%;
    margin: 3% 0;
    background-color: $bckground-color;
    border-radius: 3vw;
    overflow: hidden;
    &__info {
        @include row ($justify: space-between);
        flex: 1 0 77vw;
        padding: 4%;

        .price {
            align-self: flex-end;
            flex-basis: 12vw;
            text-align: center;
        }
        label {
            flex-grow: 1;
            flex-basis: 65vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 6vw;
        }
        &__name {
            white-space: normal;
            font-size: 125%;
            font-weight: 700;
            line-height: normal;
        }
    }
    .checkbox {
        flex-basis: 16vw;
        height: 100%;
        background-color: $colour-tertiary;
    }
}