.course {
    @include row ($justify: flex-end, $align: stretch);
    width: 93%;
    margin: 3% 0;
    background-color: $bckground-color;
    border-radius: 3vw;
    overflow: hidden;
    &__info {
        @include row ($justify: space-between);
        flex: 1 0 69vw;
        padding: 10px;
        //coder le padding en px ou em (valeur absolue)
        label {
            flex-grow: 1;
            flex-basis: 57vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .price {
            align-self: flex-end;
            flex-basis: 12vw;
            text-align: center;
        }
        &__name {
            font-size: 110%;
            font-weight: 700;
        }
        .course__undertitle {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 2%;
            font-size: 90%;
        }
    }
    .checkbox {
        width: 16vw;
        min-width: 16vw;
        //effacer height: 100% et faire que la valeur soit de 100% plus la somme des padding
        background-color: $colour-tertiary;
        margin-right: -16vw;
    }
}