//Disposition Flexbox
@mixin row($justify: center, $align: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin column($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

//Déclaration des Fonts
@mixin title {
    font-family: $font-title, sans-serif;
}

@mixin texte {
    font-family: $font-txt, sans-serif;
}
