//Couleurs Charte Graphique
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$bckground-color: #FFF;

//Fonts
$font-title: Shrikhand;
$font-txt: Roboto;
$font-color: #000;

//Animation
$course-num: 4;
$course-duration: 1000ms;
$course-delay: calc($course-duration / $course-num);
$spinner-turn: 1000ms;
$spinner-delay: 500ms;
$spinner-iteration: 3;