//Couleurs Charte Graphique
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$background-color: #FFF;
$background-color-light-darker: darken($background-color, 4%);
$background-color-darker: darken($background-color, 9%);
$background-footer: darken($background-color, 80%);


//Fonts
$font-title: Shrikhand;
$font-txt: Roboto;
$font-color: #000;

//Animation
$course-num: 4;
$course-duration: 1000ms;
$course-delay: calc($course-duration / $course-num);
$spinner-turn: 1000ms;
$spinner-delay: 500ms;
$spinner-iteration: 3;
$background-shadow-darker: darken($background-color,18%);
$background-boxes-shadow: darken($background-color, 30%);

//Listes
$box-shadow-sizing: 0 5px 10px 3px;


//Mediaqueries map-breakpoints
$breakpoints: (
    tablet: 768px,
    desktop: 992px
);