//Font Shrikhand
@font-face {
    font-family: '$font-title';
    src: ('../../fonts/Shrikhand/Shrikhand-Regular.ttf');
}

//Font Roboto & Variantes
@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: ('../../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

body {
    @include column;
    font-family: $font-txt, sans-serif;
}

main {
    @include column;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }
}
