body {
    @include column;
    font-family: $font-txt, sans-serif;
    font-size: 4vw;
    @include desktop {
        font-size: min(2vw, 38px);
    }
}

main {
    @include column;
    width: 100%;
}

.front-desktop {
    width: 100%;
    @include desktop {
        @include row;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }
}
