body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 4vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53vw;
  height: 12vw;
  margin-bottom: 2%;
  border-radius: 6vw/50%;
  font-size: 95%;
  color: #FFF;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-width: 0;
  box-shadow: 0 5px 10px 5px #d1d1d1;
}
.button > p {
  color: #FFF;
}

button.button {
  margin: 9vw;
}

.course {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 93vw;
  margin: 2vw 0;
  background-color: #FFF;
  border-radius: 3vw;
  overflow: hidden;
}
.course__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 69vw;
  padding: 4vw 3vw;
}
.course__info .course__text {
  flex-grow: 1;
  flex-basis: 57vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course__info .course__text h4 {
  font-size: 125%;
  font-weight: 700;
}
.course__info .course__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2%;
}
.course__info .price {
  align-self: flex-end;
  flex-basis: 12vw;
  text-align: center;
  font-weight: 700;
}
.course .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vw;
  min-width: 16vw;
  background-color: #99E2D0;
  margin-right: -16vw;
}
.course .checkbox .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  font-size: 90%;
  color: #99E2D0;
  transform: rotate(180deg);
  background-color: #FFF;
  border-radius: 50%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  width: 43%;
}
.header h1 .logo {
  width: 100%;
  object-fit: contain;
}
.header--menu {
  justify-content: flex-start;
}
.header--menu .fa-arrow-left {
  font-size: 5vw;
  margin-left: 6vw;
  margin-bottom: 2vw;
}
.header--menu h1 {
  margin-left: 19vw;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7% 6%;
  width: 100%;
  color: white;
  background-color: #333333;
}
footer h4 {
  font-family: Shrikhand;
  margin-bottom: 6%;
}
footer .footer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
footer .footer-link i {
  width: 6%;
  margin-right: 2%;
  font-size: 75%;
}
footer > a {
  margin-bottom: 3%;
}
footer p {
  color: white;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  padding: 3% 0;
  background-color: #e8e8e8;
  box-shadow: inset 0 2px 5px #D6D6D6;
}
.location i {
  margin-left: 28%;
  margin-right: 4%;
  font-size: 100%;
  color: #333333;
}
.location input {
  border: none;
  background-color: #e8e8e8;
  font-size: 95%;
  font-weight: 700;
}
.location input::placeholder {
  font-size: 100%;
  color: #333333;
  font-weight: 700;
}
.location input:focus {
  outline: none;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 11% 0;
  text-align: center;
  background-color: whitesmoke;
}
.introduction h2 {
  width: 70%;
  font-size: 140%;
  font-weight: 900;
  margin-bottom: 4%;
}
.introduction > p {
  width: 80%;
  font-size: 100%;
  line-height: 1.3;
  margin-bottom: 6%;
}

.function {
  align-self: flex-start;
  width: 100%;
  margin: 13% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.function h2 {
  font-size: 140%;
  font-weight: 900;
  margin-left: 6%;
  margin-bottom: 4%;
}
.function__stage {
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 16vw;
  margin: 2.5% 0;
  background-color: whitesmoke;
  border-radius: 5vw;
  box-shadow: 0 5px 10px 5px #e8e8e8;
}
.function__stage p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  position: relative;
  left: -3vw;
  font-size: 90%;
  color: #FFF;
  background-color: #9356DC;
  border-radius: 50%;
}
.function__stage i {
  font-size: 120%;
  color: gray;
  margin: 0 6vw 0 3vw;
}
.function__stage h3 {
  font-weight: 700;
}
.function__stage--background {
  background-color: #f4eefc;
}
.function__stage--background .fa-store {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 15% 6%;
  background-color: whitesmoke;
}
.restaurants h2 {
  font-size: 140%;
  font-weight: 900;
  margin-bottom: 3.75%;
}
.restaurants article {
  width: 88vw;
  height: 67vw;
  border-radius: 4vw;
  margin: 2.75% 0;
}
.restaurants article a {
  width: 100%;
  height: 100%;
  border-radius: 4vw;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  box-shadow: 0 5px 10px 5px #e8e8e8;
}
.card__img {
  width: 100%;
  height: 70%;
  position: relative;
}
.card__img > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
  object-fit: cover;
}
.card__img .new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21vw;
  height: 8vw;
  position: absolute;
  top: 3vw;
  right: 3vw;
  background-color: #99E2D0;
}
.card__img .new--hidden {
  display: none;
}
.card > figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 0 4%;
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
  background-color: #FFF;
}
.card > figcaption i {
  margin-right: 4%;
  font-size: 130%;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 5% 0;
}
.card__info h3 {
  font-size: 120%;
  font-weight: 900;
}
.card__info p {
  font-size: 110%;
  font-weight: 400;
}

.restaurants :nth-child(2) img, .restaurants :nth-child(4) img, .restaurants :nth-child(5) img {
  object-position: center bottom;
}

.restaurants :nth-child(3) img {
  object-position: left 50% bottom 38%;
}

.rest-fig {
  height: 86vw;
}
.rest-fig img {
  height: 85vw;
  width: 100vw;
  object-fit: cover;
  z-index: 0;
}
.rest-fig--note img {
  object-position: 50% 85%;
}
.rest-fig figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23vw;
  padding: 0 6vw;
  background-color: whitesmoke;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  z-index: 1;
}
.rest-fig figcaption h2 {
  font-family: Shrikhand;
  font-size: 190%;
}
.rest-fig figcaption i {
  font-size: 150%;
}

.course-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.course-type header {
  align-self: flex-start;
  margin-top: 6vw;
  margin-bottom: 2vw;
  margin-left: 4vw;
}
.course-type header h3 {
  margin-bottom: 1vw;
}
.course-type .line--tertiary {
  width: 10vw;
  height: 1vw;
  background-color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
