.header {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
  @include row;
  @include desktop {
    max-width: 1920px;
    padding-top: 1%;
    padding-bottom: .5%;
  }
  h1, p {
    font-family: $font-title;
    font-size: 200%;
  }
  &--accueil {
    @include desktop {
      width: 26%;
      position: absolute;
      top: 8%;
      @include column;
      h1 {
        font-size: 230%;
        text-shadow: 2px 6px $colour-tertiary, 4px 12px $colour-secondary;
      }
    }
  }
  &--menu {
    justify-content: flex-start;
    .fa-arrow-left {
      font-size: 125%;
      margin-left: min(115px, 6vw);
      margin-bottom: min(38px, 2vw);
      @include desktop {
        font-size: 130%;
      }
    }
    p {
      margin-left: 18%;
      @include desktop {
        margin-left: 33%;
        font-size: 150%;
        text-shadow: 2px 6px $colour-tertiary, 4px 12px $colour-secondary;
      }
    }
  }
}