.header {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
  @include row;
  @include desktop {
    padding-top: 2%;
    padding-bottom: 1%;
  }
  h1, p {
    font-family: $font-title;
    font-size: 200%;
  }
  &--menu {
    justify-content: flex-start;
    .fa-arrow-left {
      font-size: 125%;
      margin-left: 6vw;
      margin-bottom: 2vw;
      @include desktop {
        font-size: 150%;
      }
    }
    p {
      margin-left: 18%;
      @include desktop {
        margin-left: 29%;
      }
    }
  }
}