.menu-restaurant {
  @include column;
  background-color: $background-color-light-darker;
  padding-bottom: 10%;
  @include desktop {
    @include column;
    padding-bottom: 3%;
    background-color: $background-color;
  }
}

.menu-desktop {
  width: 100%;
  @include column;
  @include desktop {
    width: 72%;
    flex-direction: row;
    align-items: flex-start;
    background-color: $background-color-light-darker;
    padding-bottom: 3%;
    border-bottom-left-radius: min(57px, 3vw);
    border-bottom-right-radius: min(57px, 3vw);
    box-shadow: $box-shadow-sizing $background-color-darker;
  }
}