//Loading spinner
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader {
    0%, 100% {
        opacity: 1;
    }
}
.loading-spinner {
    width: 100%;
    height: 100vh;
    opacity: 0;
    position: fixed;
    background-color: rgba(darken($bckground-color, 18%),.5);
    z-index: 1;
    animation: loader (($turn-spinner * $iteration-spinner) + 200ms) ease-in-out;
    @include column;
    .fa-spinner {
        font-size: 400%;
        transform: rotate(0deg);
        background: linear-gradient(to bottom, $colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        color: transparent;
        animation: spinner $turn-spinner ease-in-out $iteration-spinner backwards;
    }
}


//Apparition des plats
@keyframes course {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.course {
   animation: course $anim-course ease-in-out forwards;
   @for $i from 1 through $num-course {
       &--#{$i} {
           animation-delay: $anim-course-delay * $i;
       }
   }
}

//Remplissage des coeurs
.card > figcaption .hearts, .rest-fig figcaption .hearts {
    :first-child:hover {
        opacity: 1;
        transition: opacity 300ms ease-in;
    }
    :first-child:not(:hover) {
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
}

//Décalage des checkbox
@keyframes checkbox {
    0%, 20% {
        transform: translateX(-80%) rotate(180deg);
    }
    50% {
        transform: translateX(-50%) rotate(270deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.course {
    &:hover .course__info + .checkbox {
        margin-right: 0vw;
        transition: margin-right 350ms ease-in-out ;
        .fa-check {
            animation: checkbox 300ms 50ms linear forwards;
        }
    }
    &:not(:hover) .course__info + .checkbox {
        margin-right: -16vw;
        transition: margin-right 350ms ease-in-out;
        .fa-check {
            transform: translateX(0);
        }
    }
}

//Survol des boutons
.button{
    &:hover {
    background: linear-gradient(to left top, lighten($colour-primary, 2%), lighten($colour-secondary, 2%));
    box-shadow:  0 5px 10px 3px darken($bckground-color, 30%);
    }
}