//Remplissage des coeurs


//Décalage des checkbox
@keyframes checkbox {
    0%, 20% {
        transform: translateX(-80%) rotate(180deg);
    }
    50% {
        transform: translateX(-50%) rotate(270deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.course {
    &__info {
        &:hover + .checkbox {
            margin-right: 0vw;
            transition: margin-right 350ms ease-in-out ;
            .fa-check {
                animation: checkbox 300ms 50ms linear forwards;
            }
        }
        &:not(:hover) + .checkbox {
            margin-right: -16vw;
            transition: margin-right 350ms ease-in-out;
            .fa-check {
                transform: translateX(0);
            }
        }
    } 
}
