.order {
    width: 100%;
}

.course-type {
    @include column;
    width: 100%;
    h3 {
        align-self: flex-start;
    }
    .line--tertiary {
        width: 10vw;
        height: 1vw;
        align-self: flex-start;
        background-color: $colour-tertiary;
    }
}