.function {
    align-self: flex-start;
    width: 100%;
    margin: 13% 0;
    @include column($align: flex-start);
    @include desktop {
        width: 48%;
        margin: 4% 0;
    }
    h2 {
        font-size: 140%;
        font-weight: 900;
        margin-left: 6%;
        margin-bottom: 4%;
        @include desktop {
            margin-left: 9%;
        }
    }
    &__stage {
        align-self: center;
        @include row($justify: flex-start);
        width: 80%;
        height: 16vw;
        margin: 2.5% 0;
        background-color: $background-color-light-darker;
        border-radius: 5vw;
        box-shadow: $box-shadow-sizing $background-color-darker;
        @include desktop {
            height: 10vw;
        }
        p {
            @include row;
            width: 6vw;
            height: 6vw;
            position: relative;
            left: -3vw;
            font-size: 90%;
            color: #FFF;
            background-color: $colour-primary;
            border-radius: 50%;
            @include desktop {
                width: 4vw;
                height: 4vw;
                left: -2vw;
            }
        }
        i {
            font-size: 120%;
            color: lighten($font-color, 50%);
            margin: 0 6vw 0 3vw;
            @include desktop {
                margin: 0 3vw 0 1vw;
            }
        }
        h3 {
            font-weight: 700;
        }
        &--background {
            background-color: lighten($colour-primary, 36%);
            .fa-store {
                color: $colour-primary;
            }
        }
    }
}
