.function {
	align-self: flex-start;
	width: 100%;
	margin: 13% 0;
	@include column($align: flex-start);
	@include desktop {
		width: 37%;
		margin: 2% 0;
	}
	h2 {
		font-size: 140%;
		font-weight: 900;
		margin-left: 6%;
		margin-bottom: 4%;
		@include desktop {
			font-size: 80%;
			margin: 4% 0 2% 15%;
		}
	}
	&__stage {
		align-self: center;
		@include row($justify: flex-start);
		width: 80%;
		height: 16vw;
		margin: 2.5% 0;
		background-color: $background-color-light-darker;
		border-radius: min(96px, 5vw);
		box-shadow: $box-shadow-sizing $background-color-darker;
		@include desktop {
			width: 65%;
			margin: 5% 0;
			height: min(96px, 5vw);
		}
		p {
			@include row;
			width: 6vw;
			height: 6vw;
			position: relative;
			left: -3vw;
			font-size: 90%;
			color: #FFF;
			background-color: $colour-primary;
			border-radius: 50%;
			@include desktop {
				width: min(38px, 2vw);
				height: min(38px, 2vw);
				left: max(-19px, -1vw);
				font-size: 60%;
			}
		}
		i {
			font-size: 120%;
			color: lighten($font-color, 50%);
			margin: 0 6vw 0 3vw;
			@include desktop {
				margin: 0 min(57px, 3vw) 0 min(19px, 1vw);
				font-size: 80%;
			}
		}
		h3 {
			font-weight: 700;
			@include desktop {
				font-size: 60%;
			}
		}
		&--background {
			background-color: lighten($colour-primary, 36%);
			.fa-store {
				color: $colour-primary;
			}
		}
	}
}
