.course-type {
  @include column;
  width: 100%;
  z-index: 2;
  @include desktop {
    width: 30%;
  }
  header {
    align-self: flex-start;
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 4vw;
    @include desktop {
      margin-top: min(57px, 3vw);
      margin-left: min(38px, 2vw);
    }
    h2 {
      margin-bottom: min(19px, 1vw);
    }
  }
  .line--tertiary {
    width: 10vw;
    height: 1vw;
    background-color: $colour-tertiary;
    border: none;
    margin: 0;
    @include desktop {
      width: min(115px, 6vw);
      height: min(10px, .5vw);
    }
  }
}