.introduction {
    @include column;
    width: 100%;
    padding: 40px 0;
    font-family: $font-txt;
    text-align: center;
    background-color: darken($bckground-color, 4%);
    h2 {
        width: 60%;
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 15px;
    }
    > p {
        width: 80%;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    a {
        @include row;
        width: 53vw;
        height: 12vw;
        border-radius: 6vw / 50%;
        font-size: .95rem;
        color: #FFF;
        background: linear-gradient(to left top, $gradient-darker, $gradient-lighter);
    }

}