.restaurants {
    @include column($align: flex-start);
    width: 100%;
    padding: 15% 6%;
    background-color: darken($bckground-color, 4%);
    h2 {
        font-size: 140%;
        font-weight: 900;
        margin-bottom: 3.75%;
    }
    article {
        width: 88vw;
        height: 67vw;
        border-radius: 4vw;
        margin: 2.75% 0;
        a {
            width: 100%;
            height: 100%;
            border-radius: 4vw;
        }
    }
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    box-shadow: 0 5px 10px 5px darken($bckground-color, 9%);
    &__img {
        width: 100%;
        height: 70%;
        position: relative;
        > img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 4vw;
            border-top-right-radius: 4vw;
            object-fit: cover;
        }
        .new {
            @include row;
            width: 21vw;
            height: 8vw;
            position: absolute;
            top: 3vw;
            right: 3vw;
            background-color: $colour-tertiary;
            &--hidden {
                display: none;
            }
        }
    }
    > figcaption {
        @include row($justify: space-between);
        height: 30%;
        padding: 0 4%;
        border-bottom-left-radius: 4vw;
        border-bottom-right-radius: 4vw ;
        background-color: $bckground-color;
        i {
            margin-right: 4%;
            font-size: 130%;
        }
    }
    &__info {
        @include column($justify: space-around, $align: flex-start);
        height: 100%;
        padding: 5% 0;
        h3 {
            font-size: 120%;
            font-weight: 900;
        }
        p {
            font-size: 110%;
            font-weight: 400;
        }
    }
}

//Positionnement des images dans les cards
.restaurants :nth-child(2) img, .restaurants :nth-child(4) img, .restaurants :nth-child(5) img {
    object-position: center bottom;
}

.restaurants :nth-child(3) img {
    object-position: left 50% bottom 38%;
}

