.rest-fig {
    height: 78vw;
    width: 100%;
    @include desktop {
        height: 20vw;
    }
    img {
        height: 75vw;
        width: 100%;
        object-fit: cover;
        @include desktop {
            height: 20vw;
            border-bottom-left-radius: 6vw;
            border-bottom-right-radius: 6vw;
            object-position: bottom 38% left 50%;
        }
    }
    figcaption {
        @include row($justify: space-between);
        position: relative;
        bottom: 15vw;
        height: 23vw;
        padding: 0 6vw;
        background-color: $background-color-light-darker;
        border-top-left-radius: 10vw;
        border-top-right-radius: 10vw;
        @include desktop {
            bottom: 8vw;
            height: 8vw;
            width: 72%;
            margin: 0 auto;
            border-top-left-radius: 8vw;
            border-top-right-radius: 8vw;
        }
        h1 {
            font-family: $font-title;
            font-size: 190%;
        }
        .hearts {
            i {
                font-size: 150%;
            }
            :first-child {
                position: absolute;
                background: linear-gradient(to bottom, $colour-primary, $colour-secondary);
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
            }
        }
    }
}